* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #000000;
  height: 100%;
  font: 1em Arial,Helvetica,sans-serif;
}

#container {
  min-height: 100%;
}

.totals {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.common-card {
  padding: 10px;
  border: none;
  width: 450px;
  margin: 20px 0;
}

.common-card__logo-wrapper {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.common-card__logo {
  object-fit: contain;
}

.common-card__title {
  font-size: 24px;
  height: 24px;
}

.common-card__info {
  font-size: 22px;
  margin-bottom: 10px;
}

.common-card__number {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: .03rem;
  color: #3283c8;
}

.common-card__text--left {
  text-align: end;
  display: inline-block;
  padding-right: 5px;
}

.common-card__text--right {
  text-align: start;
  display: inline-block;
  padding-left: 5px;
}

.section_title{
  text-align: center;
  font: 2em Arial,Helvetica,sans-serif;
  margin-top:  20px;
  margin-bottom: 20px;
  background-color: #eeeeee;
}

.main_section{
  overflow: auto;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

#header {
  background-color: #eeeeee;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  flex-wrap: wrap;
}

#header img {
  margin: 20px;
}

.header__img-wrapper {
  flex-grow: 1;
}

.total-count-card {
  margin: 20px;
  align-self: flex-end;
}

.total-count-card__number {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: .03rem;
  color: #3283c8;
}

.total-count-card__text {
  font-size: 22px;
}
